.note-container {

}

.note-container .head {
    height: 100%;
    width: 100%;
}

.note-container .head .banner {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.note-container .title {
    width: 50%;
    margin: auto;
}

.note-container .title .title-text {
    margin: 50px 0px;
    font-size: 40px;
    text-decoration: underline;
}

.Page {
    width: 50%;
    margin: auto;
}

.Page .Block, .head .title .title-text{

    padding: 5px;

    &:focus{

        padding: 5px;
        border-radius: 5px;
        border: 1px $block-border solid;
        outline: none;
    }

}