@import "./settings";

@import "./theme/light.scss";

@import './navbar';
@import './notes';
@import './selectMenu';

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

._container {
    margin-left: 250px;
}